#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div class="boxLateral"><div class="topBoxLateral font_gotham_rounded_bold">Menu</div><div class="middleBoxLateral"><ul class="menuVertical"><li><img src="images/seta_rodape.png" border="0" alt=""> <a href="${symbol_pound}/admin">Dashboard</a></li><!--<li>
                <img src="../images/seta_rodape.png" border="0" alt=""/>
                <a href="gestao_clientes.html">Gestão de Clientes</a>
            </li>--><li><img src="images/seta_rodape.png" border="0" alt=""> <a href="">Gestão de Categoria</a><ul><li><a href="${symbol_pound}/admincategoria">Categoria</a></li><li><a href="${symbol_pound}/adminsubcategoria">Subcategoria</a></li></ul></li><li><img src="images/seta_rodape.png" border="0" alt=""> <a href="${symbol_pound}/adminproduto">Gestão de Produtos</a></li><!--<li>
                <img src="../images/seta_rodape.png" border="0" alt=""/>
                <a href="gestao_cadastro.html">Gestão de Cadastro</a>
            </li>
            <li>
                <img src="../images/seta_rodape.png" border="0" alt=""/>
                <a href="relatorios_estatistica.html">Relatórios e Estatísticas</a>
            </li>
            
            <li>
                <img src="../images/seta_rodape.png" border="0" alt=""/>
                <a href="gestao_financeira.html">Gestão Financeira</a>
            </li>
            
            <li>
                <img src="../images/seta_rodape.png" border="0" alt=""/>
                <a href="gestao_banner.html">Gestão de Banners</a>
            </li>
            <li>
                <img src="../images/seta_rodape.png" border="0" alt=""/>
                <a href="gestao_vitrine.html">Gestão da Vitrine</a>
            </li>
            <li>
                <img src="../images/seta_rodape.png" border="0" alt=""/>
                <a href="menus_institucionais.html">Menus Institucionais</a>
            </li>--><!--
            <li>
                <img src="../images/seta_rodape.png" border="0" alt=""/>
                <a href="modelos.html">Modelos</a>
            </li>
            --></ul></div><div class="bottomBoxLateral"></div></div><!--
<script type="text/javascript" src="js/fontes/cufon-yui.js"></script>
    <script type="text/javascript" src="js/fontes/Gotham_Rounded_Bold_400.font.js"></script>
    <script type="text/javascript" src="js/fontes/DINbek_Black_900.font.js"></script>
    <script type="text/javascript">
        Cufon.replace('.font_gotham_rounded_bold',{ fontFamily: 'Gotham Rounded Bold' });
        Cufon.replace('.font_din_cond_black',{ fontFamily: 'DINbek_Black' });
    </script>
    -->