#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!--FIXED DO NOT REMOVE-->
    <div id="rodape">
        <div class="conteudoRodape">
            <div class="logo_rodape"><img src="images/logo_p_vert.png" border="0" alt="Logo Divedoo"/></div>
            <div class="boxes_rodape">
                <div class="box_rodape">
                    <div class="tit_boxRodape">
                        <img src="images/seta_rodape.png" border="0" alt=""/>
                        <span class="font_gotham_rounded_bold">Divedoo</span>
                    </div>
                    <ul class="texto_boxRodape">
                        <li><a href="institucional.html">Conheça o Divedoo</a></li>
                        <li>Equipamentos</li>
                        <li>Cursos</li>
                        <li>Turismo</li>
                        <li>Imprensa</li>
                        <li>Mapa do Site</li>
                    </ul>
                </div>
                <div class="box_rodape marg_left_45">
                    <div class="tit_boxRodape">
                        <img src="images/seta_rodape.png" border="0" alt=""/>
                        <span class="font_gotham_rounded_bold">Consumidor</span>
                    </div>
                    <ul class="texto_boxLateral">
                        <li>Como pesquisar</li>
                        <li>Fale conosco</li>
                        <li>Perguntas Frenquentes</li>
                        <li>Privacidade</li>
                        <li>Termos de uso</li>
                    </ul>
                </div>
                <div class="box_rodape marg_left_45">
                    <div class="tit_boxRodape">
                        <img src="images/seta_rodape.png" border="0" alt=""/>
                        <span class="font_gotham_rounded_bold">Consumidor</span>
                    </div>
                    <ul class="texto_boxRodape">
                        <li>Como anunciar</li>
                        <li>Tips de anúncio</li>
                        <li>Formas de pagamento</li>
                    </div>
                </div>
            </div>
            <div class="social_rodape">
                <!--div class="fb-like-box" data-href="https://www.facebook.com/digitalbrandsbrasil" data-width="167" data-height="276" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div-->
            </div>
        </div>
    </div>
<script type="text/javascript" src="js/fontes/cufon-yui.js"></script>
    <script type="text/javascript" src="js/fontes/Gotham_Rounded_Bold_400.font.js"></script>
    <script type="text/javascript" src="js/fontes/DINbek_Black_900.font.js"></script>
    <script type="text/javascript">
        Cufon.replace('.font_gotham_rounded_bold',{ fontFamily: 'Gotham Rounded Bold' });
        Cufon.replace('.font_din_cond_black',{ fontFamily: 'DINbek_Black' });
    </script>